@charset "UTF-8";

/*폰트 설정*/
.pa {
    font-family: "Noto Sans KR";
    font-weight: 100;
}
.pb {
    font-family: "Noto Sans KR";
    font-weight: 300;
}
.pc {
    font-family: "Noto Sans KR";
    font-weight: 400;
}
.pd {
    font-family: "Noto Sans KR";
    font-weight: 500;
}
.pe {
    font-family: "Noto Sans KR";
    font-weight: 700;
}
.pf {
    font-family: "Noto Sans KR";
    font-weight: 900;
}

/*header,footer 및 메인 디자인*/
#container{
    border:1px red solid;
    width: 1200px;
    margin:0 auto;
}
section{
    border: 1px blue solid;
    /* height:940px; */
    margin:50px 20px 80px 20px;
    padding:20px;
}
footer{
    height:70px;
    padding-top:25px;
    padding-bottom:25px;
            
    font-size: 10px;
    text-align: center;
    background-color : rgb(233, 248, 240);
    line-height: 5px;
}
header{
    height:250px;
    background-color:rgb(188,227,204);
    position:relative;
}
header span:first-child{
    float:left;
}
header span:nth-child(2){
    float:right;
}
#header-top span{
    display:inline-block;
    height:30px;
    width:500px;
    margin:5px 5px 30px 15px;
}
#header-bottom span{
    display:inline-block;
    height:110px;
    width:500px;
    margin:30px 5px 5px 15px;
}
#header-bottom span>h1{
    margin-top:60px;
}
#search [type="submit"]{
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    width:50px;
    height:30px;
    margin-left:-6px;
    margin-top:10px;
    position:relative;
    top:1.1px;
}
#search [type="search"]{
    margin-right:0px;
    margin-top:10px;
    width:230px;
    height:30px;
}
#header-top ul{
    list-style-type:none;
    position:relative;
    top:-25px;
    left:120px;
}
#header-top li{
    display:inline-block;
    padding:10px;
    font-size:15px;
}
header a{
    text-decoration:none;
    color:black;
}
#header-bottom ul{
    list-style-type:none;
    font-size:30px;
    font-weight:bolder;
    margin:0 0 0 0;
    padding: 0 0 0 0;
}
#header-bottom h1{
    font-size:60px;
    text-align:right;
    margin:30px 120px 0 0;
}
#item-category li{
    display:inline-block;
    padding:3px;
}
#item-category li:not(li:first-child){
    font-size:17px;
    visibility:hidden;
    font-family: "Noto Sans KR";
    font-weight: 300;
}